<!DOCTYPE html>

{% extends 'main/base.html' %}

{% load hoststags %}

{% block content %}
    <legend class="mb-3 pl-5 pb-2">
        <div class="row">
            <span class="col-md-3"><a class="nav-link custom-link noblu-link" href="{% url 'host-detail' object_list.0.monitored.host.id %}">{{object_list.0.monitored.host.ip_address}}</a></span>
            <span class="col-md-9">{{object_list.0.monitored.host.description}}</span>
        </div>
    </legend>
    <header class="border-bottom row mb-4 pb-2 text-center">
        <div class="col-md-6">
            <div class="row mt-2">
                <strong class="col-md-6">Last checked on</strong>
                <span class="col-md-6">{{object_list.0.monitored.date_checked|date:"H:i:s d.M.Y"}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mt-2">
                <span class="col-md-9 text-center text-{% if object_list.0.state == 'UP' %}success{% else %}danger{% endif %}"><strong>{{ object_list.0.state }}</strong> for {{ object_list.0.monitored.date_updated|timesince:object_list.0.monitored.date_checked }}</span>
                <strong class="col-md-3"><a class="nav-link custom-link" href="{% url 'host-check' object_list.0.monitored.host.ip_address %}">PING now</a></strong>
            </div>
        </div>
    </header>
    <table class="table table-bordered table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Host</th>
                <th class="text-center">Status changed on</th>
                <th class="text-center">State</th>
                <th class="text-center">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for host in object_list %}
                <tr>
                    <td>{{ host.monitored.host.ip_address }}</td>
                    <td class="text-center">{{ host.date|date:"d.M.Y H:i:s" }}</td>
                    <td class="text-center text-{% if host.state == 'UP' %}success{% else %}danger{% endif %}"><strong>{{ host.state }}</strong></td>
                    {% if is_paginated %}
                        {% if page_obj.number == 1 and forloop.counter0 is 0 %}
                            <td class="text-center">{{ host.date|timesince:host.monitored.date_checked }} and counting ...</td>
                        {% else %}
                            <td class="text-center">{{ host.date|timesince:host.next_date }}</td>
                        {% endif %}
                    {% else %}
                        {% if forloop.counter0 is 0 %}
                            <td class="text-center">{{ host.date|timesince:host.monitored.date_checked }} and counting ...</td>
                        {% else %}
                            <td class="text-center">{{ host.date|timesince:host.next_date }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-2 ml-auto text-right">
        <input class="btn btn-outline-secondary btn-sm mt-1 mb-1" type="button" value="Back" onclick="javascript:history.go(-1);">
    </div>

{% endblock content %}